# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode
.vscode/

# NetBeans
nb-configuration.xml

# macOS
.DS_Store

# Quarkus
.quarkus/

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~

# Docker
.docker/
